.newCard {
  padding: .2rem;
  margin: auto;
  width: 460px;
  height: 440px;
  text-align: center;
  border: #4468C6 solid 2px;  
}

.newCard img {
  width: 180px;
  height: 180px;
}

.newCard h2 {
  color: #000000;
}

.newCard h3 {
  color: #E73A13;
}