body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
ul {  
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  justify-content: center;
}
li{
  margin: 10px;
}
a{
  font-size: medium; 
  color: #000000;
  text-decoration: none;
  border : #4468C6 solid 1.5px;
  width: 20px;
  height: 8px;
}
